/* @media only screen and (min-width: 992px){

    } 
}

@media only screen and (min-width: 768px),(max-width: 991px){
     .home{
        flex-wrap: wrap-reverse;
    }
    .home_content{
        width: 100%;
    }
    .home_img{
        width: 100%;
        height: 100%;
    }
    .home_img img{
        width: 40%;
        height: 40%;
        top: 40%;
        right: 50%;
    } 

   .chefs_content{
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}
*/
/*
@media only screen and (min-width: 576px),(max-width: 767px){
    
   
}

@media only screen and (max-width: 576px){
    
    
} */